.git
.gitignore
.env
.env.example
.direnv
.editorconfig
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
README.md
compose.yaml
flake.nix
flake.lock
.envrc
